@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing:inherit
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;
}

header{
position: relative;
height: 34vh;
border-bottom: 7px solid white;
}

.title{
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 52%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.num-guess{
  font-size: 100px;
  align-items: center;
  position: absolute;
  top: 80%;
  left: 41%;
  padding: 10px 50px;
  background-color: white;
  color: black;
  border-radius: 6px;
}

.anouc{
  text-align: right;
  font-size: 20px;
}

.loop{
  font-size: 25px;
  padding: 10px;
  font-family: 'Press Start 2P', sans-serif;
  position: absolute;
  display: inline-block;
  top: 0%;
  left: 0%;
  cursor: pointer;
  border-radius: 6px;
}

 .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 5%;
  margin-left: -60px;
}

 .too::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.show:hover .too {
  visibility: visible;
}

main{
  margin-top: 150px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
}

.left{
  display: inline;
  width: 50%;
  text-align: right;
position: relative;
}



.num{
  font-size: 100px;
  text-align: center;
  color: white;
  width: 30rem;
  background-color: transparent;
  border: 5px solid white;
  float: right;
  display: block;
  margin-left: 100px;
  font-family: 'press start 2P', sans-serif;
  border-radius: 6px;
}

.guess{
  font-family: 'press start 2P', sans-serif;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
  float:right;
  margin-right: 75px;
  margin-top: 50px;
  border-radius: 6px;
}

.tooltip2 {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 101%;
  left: 63%;
  margin-left: -60px;
}

.right{
  display: grid;
  row-gap: 50px;
  font-size: 25px;
}


